/node_modules
/users
localhost+2-key.pem
localhost+2.pem

# 🔧 Node.js / npm
node_modules/

# ⚙️ Environment
.env
.env.local
.env.*.local

# 📦 Build output
dist/
build/
out/
coverage/
*.tsbuildinfo

# ⚙️ IDE / OS files
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db

# ⚒️ TypeScript
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo

# 🔐 MongoDB dump
dump/

# Certifikati (npr. mkcert)
*.pem
*.crt
*.key
cert/
ssl/
certs/
mkcert-*