<nav></nav>

<div class="form-wrapper">
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" />
      <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="error-message">
        Neispravna email adresa.
      </div>
    </div>

    <button type="submit" [disabled]="forgotForm.invalid">Pošalji hint</button>

    <div *ngIf="statusMessage" class="status-message">
      {{ statusMessage }}
    </div>
  </form>
</div>
