<nav></nav>
<div class="vault-container">
  <h2>🔐 VAULT</h2>

  <div *ngIf="!vaultUnlocked">
    <label for="masterPassword">Unesi master password:</label>
    <input type="password" id="masterPassword" [(ngModel)]="masterPassword" placeholder="Master password">
    <button (click)="unlockVault()">Otključaj Vault</button>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div *ngIf="vaultUnlocked">
    <h3>🔓 Vault zapisi:</h3>
    <div *ngFor="let entry of decryptedEntries; let i = index" class="vault-entry">
      <h4>#{{ i + 1 }} — {{ entry.title }}</h4>
      <p><strong>Email:</strong> {{ entry.email }}</p>
      
      <p class="password-field">
        <strong>Lozinka:</strong>
        <span 
          class="password-container"
          (mouseenter)="showPassword(i)"
          (mouseleave)="hidePassword(i)"
          (click)="togglePasswordVisibility(i)">
          
          <span *ngIf="!isPasswordVisible(i)" class="password-hidden">
            ••••••••••••
          </span>
          
          <span *ngIf="isPasswordVisible(i)" class="password-visible">
            {{ entry.password }}
          </span>
          
        </span>
      </p>

      <p><strong>Napomena:</strong> {{ entry.note || '-' }}</p>
    </div>
  </div>

  <form *ngIf="vaultUnlocked" class="add-entry-form" (ngSubmit)="addEntry(title.value, email.value, password.value, note.value)">
    <h3>➕ Dodaj novi zapis</h3>

    <input #title type="text" placeholder="Naslov" required />
    <input #email type="email" placeholder="Email" required />
    <input #password type="password" placeholder="Lozinka" required />
    <textarea #note placeholder="Napomena (opcionalno)" rows="3"></textarea>

    <button type="submit">Dodaj zapis</button>
  </form>


</div>
