<nav></nav>
<div class="vault-container">
  <h2>🔐 VAULT</h2>

  <div *ngIf="!vaultUnlocked">
    <label for="masterPassword">Unesi master password:</label>
    <input type="password" id="masterPassword" [(ngModel)]="masterPassword" placeholder="Master password">
    <button (click)="unlockVault()">Otključaj Vault</button>
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div *ngIf="vaultUnlocked">
    <div *ngFor="let entry of decryptedEntries; let i = index" class="vault-entry">
      <div class="entry-header">
        <h4>#{{ i + 1 }} — {{ entry.title }}</h4>
        <div class="entry-actions">
          <button (click)="openEditModal(entry, i)" class="action-btn edit-btn">
            ✏️
          </button>
          <button class="action-btn delete-btn" (click)="confirmDeleteEntry(i)">
            🗑️
          </button>
        </div>    
      </div>
    
    <p><strong>Email:</strong> {{ entry.email }}</p>
    
    <p class="password-field">
      <strong>Lozinka:</strong>
      <span 
        class="password-container"
        (mouseenter)="showPassword(i)"
        (mouseleave)="hidePassword(i)"
        (click)="togglePasswordVisibility(i)">
        
        <span *ngIf="!isPasswordVisible(i)" class="password-hidden">
          ••••••••••••
        </span>
        
        <span *ngIf="isPasswordVisible(i)" class="password-visible">
          {{ entry.password }}
        </span>
      </span>
    </p>
  
    <p><strong>Napomena:</strong> {{ entry.note || '-' }}</p>

    <div *ngIf="entryToDeleteIndex === i" class="delete-confirmation">
      <p>⚠️ Are you sure you want to delete this entry?</p>
      <div class="delete-confirmation-buttons">
        <button (click)="deleteEntry(i)">Yes</button>
        <button (click)="cancelDelete()">No</button>
      </div>
    </div>
  </div>

  <form *ngIf="vaultUnlocked" [formGroup]="entryForm" (ngSubmit)="addEntry()" class="add-entry-form">
    <h3>➕ Dodaj novi zapis</h3>

    <input #titleInput type="text" formControlName="title" placeholder="Naslov" required />
    <input type="email" formControlName="email" placeholder="Email/Username" required />
    <input type="password" formControlName="password" placeholder="Lozinka" required />
    <textarea formControlName="note" placeholder="Napomena (opcionalno)" rows="3"></textarea>

    <button type="submit" [disabled]="entryForm.invalid">Dodaj zapis</button>
  </form>



</div>

<app-vault-entry
  *ngIf="editingEntry"
  [entry]="editingEntry"
  [index]="editIndex!"
  (save)="saveEditedEntry($event)"
  (cancel)="closeEditModal()">
</app-vault-entry>

